[submodule "submodules/cbrain-plugins-psom"]
	path = submodules/cbrain-plugins-psom
	url = https://github.com/SIMEXP/cbrain-plugins-psom
[submodule "submodules/cbrain-plugins-eeg"]
	path = submodules/cbrain-plugins-eeg
	url = https://github.com/big-data-lab-team/cbrain-plugins-eeg
[submodule "submodules/cbrain-plugins-neuro"]
	path = submodules/cbrain-plugins-neuro
	url = https://github.com/aces/cbrain-plugins-neuro
[submodule "submodules/cbrain-plugins-hcp"]
	path = submodules/cbrain-plugins-hcp
	url = https://github.com/big-data-lab-team/cbrain-plugins-hcp
[submodule "submodules/ndmg-hpc"]
	path = submodules/ndmg-hpc
	url = https://github.com/gkiar/ndmg-hpc
